      
      /* width */
::-webkit-scrollbar {
    width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF5722; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF5722; 
}
    ::-webkit-scrollbar-thumb:active {
    background:#333;   /*&#8212;&#8212;Thumb color when it is active&#8212;&#8212;*/
    -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.4);
  
    }
